name: "Package Test"

on: 
  push:
      tags:
      - "v*.*.*"
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'  # Runs at midnight UTC on the 1st of every month

jobs:
  build_test:
    if: false
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
      
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
            
      - name: Build Docker Image
        run: |
          docker_image="datetime"
          echo "Docker image: ${docker_image}"
          echo "docker_image=${docker_image}" >> $GITHUB_ENV
          docker build -t $docker_image .

      - name: Run Docker Image
        run: |
          echo "docker_image is '${{ env.docker_image }}'"
          docker_container=omnitest
          echo "docker_container=$docker_container" >> $GITHUB_ENV
          docker run --name $docker_container --rm -d ${{ env.docker_image }}

      - name: Build Library
        run: |
          docker exec -u ubuntu ${{ env.docker_container }} bash -c "cd /datetime && cmake -DCMAKE_INSTALL_PREFIX=/usr/local -B build -DBUILD_TESTING=true -GNinja"
          docker exec -u ubuntu ${{ env.docker_container }} bash -c "cd /datetime && cmake --build build"

      - name: Run Tests
        run: |
          docker exec -u ubuntu ${{ env.docker_container }} bash -c "cd /datetime && ./build/tests/test_datetime && ./build/tests/test_c"

      - name: Install Library
        run: |
          docker exec -u root ${{ env.docker_container }} bash -c "cd /datetime && cmake --install build"

      - name: Clean Up
        if: always()
        run: |
          docker stop ${{ env.docker_container }}

  build_windows:
    runs-on: "windows-latest"
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
      
      - name: Set up MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >
            git
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-ninja
            mingw-w64-x86_64-pkg-config

      - name: Build (Ninja in MSYS2 shell)
        shell: msys2 {0}
        run: |
          cmake -S . -B build -G Ninja -DBUILD_TESTING=ON -DCMAKE_INSTALL_PREFIX="C:/datetime/install"
          cmake --build build -j

      - name: Run Tests (MSYS2 shell)
        shell: msys2 {0}
        run: |
          ./build/tests/test_datetime.exe
          ./build/tests/test_c.exe

      - name: Install (MSYS2 shell)
        shell: msys2 {0}
        run: cmake --install build